{{ '{% extends "layout.jinja2" %}' }}

{{ '{% block content %}' }}
<div class="jumbotron">
    <div class="container">
    <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Starter project</span></h1>
    <p class="lead">Welcome to <span class="font-normal">{{ '{{project}}' }}</span>, a&nbsp;Pyramid
    application generated&nbsp;by<br><span class="font-normal">Cookiecutter</span>.
    It includes Bootstrap 4, SQLALchemy, WTForms, PyNaCl and testing utilities out of the box.
    The route configuration uses Url Dispatch</p>
    <p><a href="https://github.com/ephraimbuddy/cookiecutter-pyramid" class="btn btn-primary">Learn More &raquo;</a></p>
    </div>
</div>

    <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Bootstrap 4</h2>
        <p>Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
        most popular front-end open source toolkit.</p>
        <p><a class="btn btn-secondary" href="https://getbootstrap.com/" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>SQLAlchemy</h2>
        <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application
        developers the full power and flexibility of SQL.</p>
        <p><a class="btn btn-secondary" href="https://www.sqlalchemy.org/" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>WTForms</h2>
        <p>WTForms is a flexible forms validation and rendering library for Python web development.
        It can work with whatever web framework and template engine you choose. </p>
        <p><a class="btn btn-secondary" href="https://wtforms.readthedocs.io/en/2.3.x/"
        role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

{{ '{% endblock content %}' }}
